##############################
# Java compiled files
##############################
*.class
*.jar
*.war
*.ear

##############################
# Build folders
##############################
target/
build/
out/
bin/

##############################
# IDE files
##############################

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

##############################
# OS files
##############################
.DS_Store
Thumbs.db

##############################
# Logs
##############################
*.log